body{
    background-color: $primary;
}

.logo{
    width: 110px;
    height: 110px;
    @include bgCover;
    margin: 0 auto;
    margin-top: 40px;
    opacity: 0.8;
}

.text_wrap{
    margin: 42px auto;
    margin-top: 32px;

    p,h1,h2{
        text-align: center;
        color: white;
    }

    p{
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
    }

    h1,h2{
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 32px;
        line-height: 140%;
    }

    .description{
        line-height: 160%;
        font-size: 15px;
    }

    &.black{
        p,h1,h2{
            color: $black;
        }
    }
}

.card_wrap{
    width: 92%;
    margin: 0 auto;
    max-width: 410px;
    
    @include flex_between;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    border: none;
    width: calc((100% - 24px) / 3);
    height: 152px;
    perspective: 1000px; 
    margin-bottom: 12px;
    box-shadow: 1px 1px 8px rgba(148, 38, 0, 0.3);
    @include transition04;
  /* perspective : 원근법 
  3D effect를 원하지 않는다면 지우세요 */

  &:nth-child(2n){
    opacity: 0.8;
  }

  &.off{
    opacity: 0.5;
    pointer-events: none; 
    &:nth-child(2n){
        opacity: 0.3;
      }
  }
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  /* preserve-3d : 변환된 자식 요소가 3D 변환을 유지하도록 합니다. */
}

.flip-card.on{
    opacity: 1 !important;

    .flip-card-inner {
        transform: rotateY(180deg);
       /* Y축으로 180도 flip되게 만들어줍니다 */
    }
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 10px;
    @include bgCover;
}

.flip-card-front {
    &::after{
        content: "";
        display: block;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border-radius: 9px;
        @include fix_center;
        border: 1px solid $primary;
    }
}

.flip-card-back{
    transform: rotateY(180deg);
}

// popup

.popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.15);
    display: none;
    opacity: 0;
    
    .popup_wrap{
        background-color: $white;
        border-radius: 20px;
        width: 86%;
        max-width: 380px;
        @include fix_center;
        @include flex_center;
        flex-direction: column;
    }

    .selected_card{
        width: calc((92vw - 24px) / 3);
        max-width: 120px;
        height: 152px;
        border-radius: 10px;
        @include bgCover;
        margin-bottom: 50px;
    }
}

.btn{
    padding: 15px 0;
    width: calc(100% - 60px);
    text-align: center;
    background-color: $primary;
    color: white;
    border-radius: 10px;
    margin-bottom: 36px;
    font-weight: 600;
    
    &.on{
        color: $primary;
        background-color: $white;
    }
}

.popup.on{
    display: block;
    animation-name: view;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes view{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}